<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
    <%= form_for(@user) do |f| %>
    
    <% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
    	
      <li><%= msg %></li>

    <% end %>
    </ul>
  </div>
<% end %>

	<div class="field">
		<%= f.label :firstname, "Firstname" %></br>
		<%= f.text_field :firstname %>
    </div>
	<div class="field">
	  <%= f.label :lastname, "Lastname" %></br>
      <%= f.text_field :lastname %>
    </div>
	<div class="field">
      <%= f.label :email %></br>
      <%= f.text_field :email %>
    </div>
	<div class="field">
      <%= f.label :password %></br>
      <%= f.password_field :password %>
    </div>
	<div class="field">
      <%= f.label :password_confirmation, "Confirmation" %></br>
      <%= f.password_field :password_confirmation %>
    </div>
	<div>
      <%= f.submit "Create my account" %>
    </div>
    <% end %>
</div>