<% provide(:title, @user.fullname) %>

<h1>
	<%= @user.fullname%>
</h1>

<%= image_tag @user.avatar.url %>

</br>
<% if current_user != @user %>
	<%= render :partial => "handle_friendslinks", :locals => { :user => @user } %>
	<h2><%= "Freunde von #{@user.firstname}"%></h2>
<% else %>
	<h2>Meine Freunde</h2>
<% end %>

<% if @user.requested.any? %>
	<% if current_user == @user %>
	<%= "Freundschaftsanfragen (" + "#{@user.requested.count}" + "):"%>
	<ul>
		<% @user.requested.each do |requested| %>
		<li>
			<%= link_to requested.fullname, requested %>
			<% friendship = current_user.find_any_friendship_with(requested) %>
			(<%= link_to "Bestätigen", friendship, :controller => :friendships, :action => :approve, :method => :put %> / 
			<%= link_to "Ablehnen", friendship, :method => :delete %>)
		</li>
		<% end %>
	</ul>	
	_______________________</br>
	<% end %>
<% end %>

<ul>
  <% @user.all_friendships.each do |friendship| %>
  
  	<% if friendship.approved %>
  		<li>
  			<% if @user.id == friendship.user_id %>
   				<%= link_to friendship.friend.fullname, friendship.friend %>
   			<% else %>
   				<%= link_to friendship.user.fullname, friendship.user %>	
   			<% end %>
  			<% if current_user == @user %>
  				<%= link_to "Entfernen", friendship, :method => :delete, 
  				:confirm  => "Willst du wirklich #{friendship.friend.fullname} aus deiner Freundeliste entfernen?" %>
  			<% end %>
  			
		</li>
	<% end %>
  <% end %>  
</ul>
<p><%= link_to "Usersliste", users_path %></p>