<%= render 'todos/category' %>


<p><%= link_to 'Neues Todo', '/todos/new' %></p>


<% content_for :searchfield do %>
	<%= form_for @search do |f| %>
   		<%= f.text_field :name_contains %>
 		<%= f.submit "Search" %>
	<% end %>
<% end %>




<table>
  <%= render @todos %>
</table>

<br />

