<%= form_for (@todo) do |f| %>
<script type="text/javascript">
 function copyContent (el) {
 el.value =  document.getElementById("editable").innerHTML;
 return true;
 }
</script>
 <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

<table>
	<tr>
		<td>
		  <div class="field">
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </div>
        </td>
  		<td>
		  <div class="field">
				
		  		<%= f.label :category_id, "Kategorie"%> <br />
		  		<%= f.select :category_id, Category.all.map {|d| [d.cname,d.id]}, prompt: "Bitte waehlen" %>  		
		  </div>
  		</td>
  		<td>
		  <%= f.fields_for :photo do |builder| %>
		  	<div class="field">
		  		<%= builder.label :photofile, "Fotoupload" %> <br />
		  		<%= builder.file_field :photofile %>
		  	</div>
		  <% end %>
		</td>
  </tr>
</table>  

<div class="field">
	<%= f.label :description, "Beschreibung"%><br />
	<%= submit_tag "B", type: "button", onclick: "document.execCommand('bold',false,null);", title: "Fett" %>
	<%= submit_tag "I"  , type: 'button', onclick: "document.execCommand('italic',false,null);", title: "Kursiv" %>
	<%= submit_tag "Left", type: 'button', onclick: "document.execCommand('justifyLeft',false,null);" , title: "Linksbündig" %>
	<%= submit_tag "Right"  , type: 'button', onclick: "document.execCommand('justifyRight',false,null);", title: "Rechtsbündig" %>
	<%= submit_tag "Center", type: 'button', onclick: "document.execCommand('justifyCenter', false, null);", title: "Zentriert" %>
	<%= submit_tag "List", type: 'button', onclick: "document.execCommand('insertUnorderedList', false, 1);", title: "Aufzählung" %>
	<br />
	<% if @todo.description!=nil %>
	<div contenteditable=true style="width: 45em; height: 30em; overflow: auto; border: solid gray 1px" id="editable"><%= @todo.description.html_safe %></div>
	<% else %>
	<div contenteditable=true style="width: 45em; height: 30em; overflow: auto; border: solid gray 1px" id="editable"></div>
	<% end %>
	<%= f.hidden_field :description %>
	<%= f.submit "Speichern",{onclick:'return copyContent(todo_description);'} %>
</div>
	<div id="preview"></div>
<% end %>