<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :description%><br />
  	<%= f.text_field :description%>
  </div>
  
  <%= f.fields_for :photo do |builder| %>
  	<div class="field">
  		Fotoupload
  		<%= builder.file_field :photofile %>
  	</div>
  <% end %>
  
  
  	<div class="field">
  		<%= f.label :category_id, "Kategorie"%> <br />
  		<%= f.select :category_id, Category.all.map {|d| [d.cname,d.id]}, prompt: "Bitte waehlen" %>  		
  	</div>
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  