<%= form_for(@todo) do |f| %>
 <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

<table>
	<tr>
		<td>
		  <div class="field">
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </div>
        </td>
  		<td>
		  <div class="field">
				
		  		<%= f.label :category_id, "Kategorie"%> <br />
		  		<%= f.select :category_id, Category.all.map {|d| [d.cname,d.id]}, prompt: "Bitte waehlen" %>  		
		  </div>
  		</td>
  		<td>
		  <%= f.fields_for :photo do |builder| %>
		  	<div class="field">
		  		<%= builder.label :photofile, "Fotoupload" %> <br />
		  		<%= builder.file_field :photofile %>
		  	</div>
		  <% end %>
		</td>
  </tr>
</table>  

<div class="field">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
				<script type="text/javascript">
					function formatText (el,tag) {
						var text=el.value;
						var start=el.selectionStart;
						var end=el.selectionEnd;
						var str1=text.substring(0, start);
						var str2=text.substring(start, end);
						var str3=text.substring(end, text.length);
						var newString='<'+tag+'>'+str2+'</'+tag+'>';
						el.value=str1+newString+str3;
					}
					function showPreview(){
						var s=document.getElementById('todo_description').value;
						document.getElementById('preview').innerHTML=s;
					}
					function aligning(el, key){
						if (el.selectionStart==el.selectionEnd) {
							el.value+='<p align="'+key+'"></p>';
					}
						else {
							var text=el.value;
							var start=el.selectionStart;
							var end=el.selectionEnd;
							var str1=text.substring(0, start);
							var str2=text.substring(start, end);
							var str3=text.substring(end, text.length);
							var newString='<p align="'+key+'">'+str2+'</p>';
							el.value=str1+newString+str3;
						}
					}
				</script>
	<%= f.label :description, "Beschreibung"%><br />
	<%= submit_tag "B", type: 'button', onclick: "formatText(todo_description, 'b')" %>
	<%= submit_tag "I", type: 'button', onclick: "formatText(todo_description, 'i');" %>
	<%= submit_tag "Left", type: 'button', onclick: "aligning(todo_description, 'left');" %>
	<%= submit_tag "Center", type: 'button', onclick:"aligning(todo_description, 'center');" %>
	<%= submit_tag "Right", type: 'button', onclick: "aligning(todo_description, 'right');" %>
	<%= submit_tag "List", type: 'button' %><br />
	<%= f.text_area :description %><br />
	<%= f.submit "Speichern" %>
	<%= submit_tag "Vorschau", type: 'button', onclick: "showPreview()" %>
	</div>
	<div id="preview"></div>
<% end %>
  