
<p><%= link_to 'Meine Todos', doings_url %> </p>

<%= render 'category' %>


<p><%= link_to 'Neues Todo', '/todos/new' %></p>

<% content_for :searchfield do %>  
  	<%= form_tag todos_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>
<% end %>

<table>
  <%= render @todos %>
</table>

<br />


