<table>
	<tr> 
		<td> <%= link_to 'Sport', category_url(1) %> </td>
		<td>  <%= link_to 'Reisen', category_url(2) %> </td>
		<td>    <%= link_to 'Verrücktes', category_url(3) %></td>
		<td>    <%= link_to 'Herausforderung', category_url(4) %></td>
		<td>    <%= link_to 'Extreme', category_url(5) %></td>
	</tr>
</table>


  <%= render 'form' %>
  
<table>  
  <%= render @todos %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path %>
