<p id="notice"><%= notice %></p>

<p>
	<b><%= @category.cname %> </b>
</p>
<p>
	<b><%= @todo.name %></b>	
</p>

<p>
	<%= @todo.description.html_safe %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', root_path %>

