<%= form_for(@category) do |f| %>
 <% if @category.errors.any? %>
 	<ul>
 		<% @category.errors.full_messages.each do |msg| %>
 		<li><%= msg %></li>
 		<% end %>
 	</ul> 
<% end %> 	
 <div class="field">
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </div>
  
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>