<%= form_for(@category) do |f| %>
 <% if @category.errors.any? %>
 	<ul>
 		<p id="error"><%= flash[:error] %></p>
 	</ul> 
 	
<% end %> 	
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>