<p id="notice"><%= notice %></p>

<table>
	<tr> 
		<td> <%= link_to 'Sport', category_url(1) %> </td>
		<td>  <%= link_to 'Reisen', category_url(2) %> </td>
		<td>    <%= link_to 'Verrücktes', category_url(3) %></td>
		<td>    <%= link_to 'Herausforderung', category_url(4) %></td>
		<td>    <%= link_to 'Extreme', category_url(5) %></td>
	</tr>
</table>

<p>
	<b><%= @category.cname %></b>	
</p>
<table>
<% @category.todos.each do |todo| %>
	<tr>
		<td><%= todo.name %></td>
	    <td><%= link_to 'Show', todo %></td>
	    <td>Anzahl gewählt</td>
	    <td>Anzahl erledigt</td>
	</tr>
<% end %>
</table>
<table>
<tr>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</tr>
</table>