
<p><%= @category.cname %>	&nbsp	<%= link_to 'Edit', edit_category_path(@category) %> </p>


<%= render "todos/category" %>

<table>
<% @category.todos.each do |todo| %>
	<tr>
		<td><%= todo.name %></td>
	    <td><%= link_to 'Show', todo %></td>
	    <td>Anzahl gewählt</td>
	    <td>Anzahl erledigt</td>
	</tr>
<% end %>
</table>
<table>
<tr>


</tr>
</table>