<!DOCTYPE html>
<html>
	<head>
	  <title>MAct</title>
	  <%= stylesheet_link_tag    "application" , media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<div id="site">	
		<div id="header">
			<%= link_to "LOGO", root_path %> 



			<% if signed_in? %>

				Platzhalter f端r Einstellungen
 				<%= link_to "Logout", signout_path, method: "delete" %>
			<% else %>
				<%= link_to "Login", login_path %>
				<%= link_to "Sign Up", signup_path %>
			<% end %>

		</div>		
			<ul id="sidebar">
				<% if signed_in? %>
					<p>Platzhalter f端r Miniprofil</p>
					<p><%= link_to 'Meine Profilseite', current_user %> </p>
					<p><%= link_to 'Meine Todos', doings_url %> </p>
					<p>Platzhalter f端r Newsfeed</p>
					<p>Platzhalter f端r Footer</p>
				<% end %>
			</ul>

		<div id="content">
			<% flash.each do |key, value| %>
        		<div class="alert"><%= value %></div>
        	<% end %>
			<%= yield %>
		</div>			

		<div class="container"><%= debug(params) if Rails.env.development? %></div>	
	</div>	
	</body>
</html>